@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: #f7b81a;
  --color-secondary: #73509F;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary) !important;
}

/* Margin classes */

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

/* Padding classes */

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

/* Flex Classes */

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 10px !important;
}

.gap-2 {
  gap: 20px !important;
}

.gap-3 {
  gap: 30px !important;
}

.gap-4 {
  gap: 40px !important;
}

.gap-5 {
  gap: 50px !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* text color classes */

.text-muted {
  color: var(--color-secondary) !important;
}

.text-white {
  color: white !important;
}

.text-dark {
  color: black !important;
}

/* text weight classes */

.fw-light {
  font-weight: lighter !important;
}

.container {
  width: 80%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.section-title__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.section-title__container i {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: .8rem;
  font-size: 1.5rem;
  border-radius: 16px;
}

.section-title__container h2 {
  color: var(--color-secondary);
  font-weight: bold;
}

button {
  background-image: linear-gradient(#FFD66B, #FFBE41) !important;
  color: black;
  border: none !important;
  box-shadow: none;
  padding: .70rem 1.2rem !important;
  font-weight: bold !important;
  border-radius: 14px !important;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-image: none !important;
  background-color: #faf0ff;
  color: var(--color-primary);
  transition-duration: .5s;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* General CSS */

.wrapper {
  padding: 1rem 1rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.row {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 50%;
  align-self: stretch;
  position: relative;
}

.col-3 {
  width: 25%;
  align-self: stretch;
}

.section-title__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.section-title__container i {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: .8rem;
  font-size: 1.5rem;
  border-radius: 16px;
}

.section-title__container h2 {
  color: var(--color-secondary);
  font-weight: bold;
}

/* End of General CSS */

/* Dropping Text */

.dropping-texts {
  display: block;
  width: 140px;
  /* text-align: left; */
  height: 36px;
  margin-bottom: 40px;
  vertical-align: -2px;
}

.dropping-texts>div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: bold;
  /* box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5); */
  color: #f7b81a;
}

.dropping-texts>div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}

.dropping-texts>div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}

.dropping-texts>div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

/* End of Dropping text */

/* Navbar */

.navbar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 100px;
  overflow: hidden;
}


.navbar .icon {
  display: none;
}

/* Style the logo */
.logo a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.9rem;
}

/* Style the navigation links */
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

}

/* End of Navbar */

.page-section {
  width: 100%;
  padding: 2rem 0;
}

.page-section:not(:last-child) {
  margin-bottom: 80px;
}

.container-fluid {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container-fluid .container {
  margin: 0 auto;
  width: 80%;
}

.home-hero__section {
  width: 100%;
  min-height: 60vh;
  /* background-color: var(--color-secondary); */
  background-image: linear-gradient(to bottom right, #b185f8, #6f24e9);
  color: white;
  padding-bottom: 5rem;
}

.home-hero__section .home-hero__img {
  position: absolute;
  bottom: -200px;
  filter: drop-shadow(0 -6mm 4mm rgba(137, 69, 236, 0.14));
}

.home-hero__section h1 {
  font-size: 4rem;
}

.home-hero__section p {
  font-size: 1.25rem;
  width: 70%;
}

.home-hero__section .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.buttons-wrapper h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Two - Slider */

.slider-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #b185f8, #6f24e9);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider .slick-prev, .slider .slick-next {
  background-image: none !important;
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
}

.slide {
  position: relative;
  flex: 0 0 25%;
  /* 4 items in a row, each taking 25% of the container width */
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  /* border: 1px solid #ccc; */
  text-align: center;
  color: white;
  transition: transform 1s;
}

.slide h6 {
  visibility: hidden;
  font-size: 1rem;
}

.slide i {
  background-color: #6f24e9;
  color: var(--color-primary);
  padding: .8rem;
  font-size: 1.5rem;
  border-radius: 16px;
  border: 2px solid white;
}

.slide p {
  color: lightgray;
}

.slide h6 i {
  background-color: transparent;
  padding: 0;
  color: var(--color-secondary);
  border: none;
  margin-inline-start: 15px;
}

.slide:first-child:hover, .slide:last-child:hover {
  background-image: linear-gradient(to right, #FFD66B, #FFBE41) !important;
  color: var(--color-secondary);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  transition-duration: .5s;
}

.slide:last-child:hover {
  background-image: linear-gradient(to right, #FFD66B, #FFBE41) !important;
  color: var(--color-secondary);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  transition-duration: .5s;
}

.slide:hover {
  background-image: linear-gradient(to right, #FFD66B, #FFBE41) !important;
  color: var(--color-secondary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  transition-duration: .5s;
 
}

.slide:hover p {
  color: var(--color-secondary);
  margin-bottom: 25px;
}

.slide:hover h6 {
  visibility: visible;
  font-weight: bold;
}

/* End of Slider Section */

/* Our Values Section */

.values-list__conatiner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.values-list__conatiner .value-item {
  width: 25%;
  position: relative;
  padding: 1rem 1.5rem;
  padding-top: 3rem;
  border-radius: 16px;
  background-color: #faf0ff;
  transition-duration: .5s;
  margin: 10px;
}

.values-list__conatiner .value-item i {
  position: absolute;
  top: -20px;
  background-color: var(--color-secondary);
  color: white;
  padding: .8rem;
  border-radius: 16px;
  font-size: 1.2rem;
  transition-duration: .5s;
}

.values-list__conatiner .value-item h4,
.values-list__conatiner .value-item p {
  color: var(--color-secondary);
}

.values-list__conatiner .value-item h4 {
  /* color: #6f24e9; */
  font-weight: bold;
  transition: .5s;
  margin-bottom: 15px;
}

.values-list__conatiner .value-item:hover h4 {
  color: var(--color-secondary);
  transition-duration: .5s;
}

.values-list__conatiner .value-item:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  transition-duration: .5s;
}

.values-list__conatiner .value-item:hover i {
  background-color: var(--color-primary);
  transition-duration: .5s;
}

/* End of Values section */

/* Get Started Section */

.get-started__container .get-started__body {
  background-image: linear-gradient(to bottom right, #b185f8, #6f24e9);
  padding: 3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.get-started__container mark {
  background-color: transparent;
  color: var(--color-primary);
}

/* End of Get Started Section */

/* Healthy Menu Section */

.menu-recipes__container {
  width: 100%;
  margin-top: 40px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  /* padding-right: 1rem;
  padding-left: 1rem; */
}

.menu-recipes__container .menu-item {
  width: 80%;
  padding: 1rem 0 1rem 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #faf0ff;
  /* background-image: linear-gradient(to right, rgba(137, 69, 236, 1), rgba(137, 69, 236, 0)); */
  transition: .5s;
}

.menu-recipes__container .menu-item h5 {
  color: var(--color-secondary);
  margin-bottom: 0px;
  font-weight: bold !important;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: .5s;
}

.menu-recipes__container .menu-item i {
  /* background-color: var(--color-secondary); */
  background-image: linear-gradient(to top left, #8945EC, rgba(137, 69, 236, 0.7));
  color: white;
  padding: .8rem;
  border-radius: 16px;
  font-size: 1.2rem;
  transition: .5s;
}

.menu-item:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition-duration: .5s;
}

.menu-item:hover h5 {
  opacity: .6;
  border: 1px solid white;
  transition-duration: .5s;
}

.menu-recipes__container .menu-item:hover i {
  transition-duration: .5s;
  background-image: linear-gradient(to top left, #FFD66B, #FFBE41);
}

/* Change the scrollbar track (the background) */
.menu-recipes__container::-webkit-scrollbar {
  width: 6px;
  /* You can adjust the width */
}

/* Change the scrollbar thumb (the draggable part) */
.menu-recipes__container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  /* Change the color */
  border-radius: 6px;
  /* Add rounded corners */
}

/* Change the scrollbar track on hover */
.menu-recipes__container::-webkit-scrollbar-track {
  background-color: #faf0ff;
  /* Change the track color on hover */
}

.health-menu__container .testimonial-slider {
  margin-left: 20px !important;
}

.health-menu__container .testimonial {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  filter: drop-shadow(0 -6mm 4mm rgba(137, 69, 236, 0.14));
  transition: .5s;
  margin: 10px;
}

.health-menu__container .testimonial:hover {
  cursor: pointer;
  background-color: #faf0ff;
  filter: none;
}

/* End of Healthy Menu Section */

.testimonial {
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 16px;
  background-color: #faf0ff;
  border: 2px solid white;
  margin-top: 40px;
  padding-block-start: 3rem;
}

.testimonial i {
  position: absolute;
  top: -20px;
  background-image: linear-gradient(to top left, #8945EC, rgba(137, 69, 236, 0.7));
  color: white;
  padding: .8rem;
  border-radius: 16px;
  font-size: 1.2rem;
  transition: .5s;
}

.slick-dots {
  display: flex !important;
  justify-content: flex-end !important;
  bottom: 30px !important;
  gap: 10px !important;
  right: 20px;
  /* right: -180px !important; */
}

.slick-dots li #slick-slide-control00:before,
.slick-dots li #slick-slide-control10:before {
  margin-top: 4px;
  margin-left: 5px;
  font-family: 'slick';
  font-size: 16px;
  /* line-height: 20px; */
  content: '◄' !important;
  text-align: center;
  color: var(--color-secondary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li #slick-slide-control01:before,
.slick-dots li #slick-slide-control11:before {
  margin-top: 4px;
  margin-left: 5px;
  font-family: 'slick';
  font-size: 16px;
  /* line-height: 20px; */
  content: '▶' !important;
  text-align: center;
  color: var(--color-secondary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.active {
  border: 3px solid white !important;
}

.slick-dots li button {
  background-image: none !important;
  background-color: white !important;
  border-radius: 50% !important;
  padding: 1rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Footer */

.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  padding: 5rem 0;
  filter: drop-shadow(0 -6mm 4mm rgba(137, 69, 236, 0.14));
}

.app-footer h3 {
  color: var(--color-secondary);
  font-weight: bold;
}


.app-footer p {
  transition: .5s;
}

.app-footer p:hover {
  opacity: .5;
  transition-duration: .5s;
}

.app-footer p:not(:last-child) {
  margin-bottom: 20px;
}

.app-footer .row {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 40px;
}

.footer-socials {
  display: none;
}

/* End of Footer */

/* Media query for responsiveness */
@media (max-width: 768px) {

  .container {
    width: 95% !important;
  }

  /* .navbar {
    flex-direction: column;
    align-items: flex-start;
  } */

  .navbar .icon {
    display: block;
  }  

  .navbar.responsive .nav-links {
    display: flex;
    position: absolute;
    top: 100px;
    left:0;
    right:0;
  width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-secondary);
    border-radius: 10px;
   
    z-index: 9999;
  }

  .nav-links {
    display: none;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    padding: 10px 20px;
    margin-right: 0;
  }

  .nav-links li:hover {
    opacity: .5;
    cursor: pointer;
    transition-duration: .5s;
  }

  .col,
  .col-3 {
    width: 100%;
    margin-bottom: 30px;
  }

  .home-hero__section .row {
    flex-direction: column-reverse;
  }

  .home-hero__section h1 {
    font-size: 3rem;
  }

  .home-hero__section p {
    width: 100%;
  }

  .home-hero__section .home-hero__img {
    position: relative;
    bottom: 0px;
  }

  .page-section:not(:last-child) {
    margin-bottom: 40px;
  }

  .home-hero__section .buttons-wrapper {
    justify-content: center;
  }

  .slider {
    padding: 2rem;
    flex-direction: column;
  }

  .values-list__conatiner .value-item {
    width: 100%;
  }

  .menu-recipes__container {
    direction: rtl !important;
  }

  .menu-item {
    direction: ltr !important;
    width: 90% !important;
  }

  .app-footer .footer-col {
    width: 50% !important;
    margin-bottom: 20px;
  }

  .app-footer .footer-links {
    gap: 0px;
  }

  .app-footer .row {
    gap: 30px;
  }

  .footer-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 1rem;
    border-top: 1px solid var(--color-secondary);
    color: var(--color-secondary);
  }
}

@media screen and (min-width :768px) {
  .slide:hover {
    background-image: linear-gradient(to right, #FFD66B, #FFBE41) !important;
    color: var(--color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition-duration: .5s;
    /* transform-origin: bottom; */
    /* Set the scaling origin to the top */
    /* transform: scaleY(1.25); */
    /* Scale vertically (height) by 1.5 times */
  }
}

@media screen and (max-width: 768px) {
  .slide:hover {
    background-image: linear-gradient(to right, #FFD66B, #FFBE41) !important;
    color: var(--color-secondary);
    border-radius: 20px;
    cursor: pointer;
    /* transform-origin: bottom; */
    /* Set the scaling origin to the top */
    /* transform: scaleY(1.25); */
    /* Scale vertically (height) by 1.5 times */
  }
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {
    background: #ff0075;
  }

  3% {
    background: #0094ff;
  }

  20% {
    background: #0094ff;
  }

  23% {
    background: #b200ff;
  }

  40% {
    background: #b200ff;
  }

  43% {
    background: #8BC34A;
  }

  60% {
    background: #8BC34A;
  }

  63% {
    background: #F44336;
  }

  80% {
    background: #F44336;
  }

  83% {
    background: #F44336;
  }

  100% {
    background: #F44336;
  }
}